* {
    box-sizing: border-box;
    line-height: 0.8em;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*
[class*="col-"] {
    float: left;
    padding: 0.3em 0.5em;
    padding-top: 0.2em;
}

.row {}

.row:after {
    content: "";
    clear: both;
    display: block;
}
*/

[class*="col-"] {
    display: table-cell;
    padding: 0.3em 0.5em;
    padding-top: 0.2em;
    vertical-align: top;
}

.row {
    display: table;
    width: 100%;
}

.paramSetting {
    background: #eee;
}

.paramSetting P {
    padding: 0;
    margin: 0;
}

.lrmargin {
    margin: 0 0.5em;
}

#acqUpload, #acquisitions-browse, #seqUpload, #sequence-browse {
    display: none;
}

#parameterForm .paramSetting {
    border: 1px solid #ccc;
    border-bottom: 0;
}

#todo {
    background: #fdd;
}

#todo.paramSubmitReady {
    background: #dfd;
}

#todo span {
    display: inline-block;
}

P, H1, H3, span {
    line-height: 1.4em;
}

H1 { 
    margin-top: 0; 
    margin-bottom: 0;
}

H3 {
    margin: 0;
    margin-top: 0.3em;
    word-wrap: break-word;
}


.previousTable {
    table-layout: auto;
}

.previousTable td, .previousTable th {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.varWidthCell {
   min-width: 2em;
   max-width: 5em;
}


.uploadTemplate p {
    margin: 0;
}

.uploadLabels {
    color: #888;
}

span.removable {
    color: #444;
    /*border: 1px solid #ba6;*/
    border-radius: 0.3em;
    background: #fec;
    padding-left: 0.5em;
    display: inline-block;
    margin-right: 0.15em;
    margin-bottom: 0.15em;
}

span.removable button {
    border: 1px solid gray;
    /*width: 18px;*/
    margin: 0em 0.3em;
    height: 1em;
}


.progress {
    line-height: 2em;
    padding-left: 0.2em;
}

.chosenFiles {
    color: black;
    padding-top: 0.55em;
}

.hiddenFromUser {
    display: none;
}

#backButton {
    float: right;
}

#backButton span {
    display: inline-block;
}

textarea, textarea.ui-state-default.formPart, input[type=text] {
    color: #222;
    width: 100%;
    overflow-x: hidden;
}


:-ms-input-placeholder {
   color: #ccc !important;
}

::-ms-input-placeholder {
   color: #ccc;
}

.ui-dialog {
    -webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.5);
    border: 1px solid #444;
    -webkit-user-select: all;  /* Chrome all / Safari all */
    -moz-user-select: all;     /* Firefox all */
    -ms-user-select: all;      /* IE 10+ */
    user-select: all;          /* Likely future */  
}

.ui-dialog P:last-child {
    text-align: center;
}

.ui-dialog A {
    color: #44f;
    font-size: 0.8em;
}

.ui-spinner {
    vertical-align: baseline;
    width: 5em;
}

input[type='number'], input[type='text'] {
    height: 1.75em;
}
