body {
    counter-reset: section;
    box-sizing: border-box;
    line-height: 0.8em;
    height: auto;
}

/* https://www.ventureharbour.com/form-design-best-practices/ */

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    display: table-cell;
    padding: 0.1em 0.5em 0.3em 0.5em;
    vertical-align: top;
}

.row {
    display: table;
    width: 100%;
    margin-top: -1px;   /* collapses borders on vertically neighbouring rows */
}

.paramSetting {
    background: #eee;
    border: 1px solid #ccc;
    border-right: 0;
}

.paramSetting P {
    padding: 0;
    margin: 0;
}

.row .paramSetting:last-child {
    border-right: 1px solid #ccc;
}


.lrmargin {
    margin: 0.2em 0.5em 0 0.5em;
}


.fileNameExists {
    display: none;
}

div.row > span.fileNameExists {
    border: none;
    background: none;
}

.fileNameExists .ui-icon {
    display: inline-block;
}

.progress-extended {
    line-height: 1.8em;
}

#todo {
    background: #fdd;
    border: 1px solid #caa;
    margin-top: -1px;
    padding: 0.5em 0;
}

#todo.paramSubmitReady {
    background: #dfd;
    border: 1px solid #aca;
}

#todo span {
    display: inline-block;
}

P, H1, H3, span, label.plike {
    line-height: 1.4em;
}

H1 { 
    margin-top: 0; 
    margin-bottom: 0;
}

H3 {
    margin: 0;
    margin-top: 0.3em;
    word-wrap: break-word;
}

[class*="col-"]:not(.paramSetting) > H3 {
    border-top: 5px solid #ccc;
}

[class*="col-"]:not(.paramSetting) > H3:before {
    counter-increment: section;
    content: counter(section) ". ";
}


.previousTable {
    table-layout: auto;
}

.previousTable td, .previousTable th {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.previousTable th {
    text-transform: capitalize;
}

.varWidthCell {
   min-width: 2em;
   max-width: 5em;
}

.acqTooltipDetails {
    color: #333;
    display: block;
}

.mgTooltip {
    counter-reset: tooltipCount;
}

.acqTooltipDetails:before {
    counter-increment: tooltipCount;
    content: counter(tooltipCount) ".\0009";
}

.mgTooltip h2 {
    text-transform: capitalize;
}


.uploadTemplate p {
    margin: 0;
}

.uploadLabels {
    color: #888;
}

.uploadLabels div {
    /* stop usual .cols-* bottom padding occurring within an uploadLabels area */
    padding-bottom: 0;
}

span.removable {
    /*border: 1px solid #ba6;*/
    border-radius: 0.3em;
    background: #fec;
    padding-left: 0.5em;
    display: inline-block;
    margin-right: 0.15em;
    margin-bottom: 0.15em;
    /*font-weight: bold;*/
}

span.removable button {
    border: 1px solid gray;
    /*width: 18px;*/
    margin: 0 0.3em;
    height: 1em;
}

.chosenFiles {
    color: black;
    counter-reset: chosenCount;
    /*padding-top: 0.55em;*/
}

.chosenFiles span.removable::before {
    counter-increment: chosenCount;
    content: counter(chosenCount) ". ";
}

/* Multiple file upload not possible for sequences, so don't need to number those */
#acquire .fileupload {
    counter-reset: newFileCount;
}

#acquire .fileupload .name::before {
    counter-increment: newFileCount;
    content: counter(newFileCount) ". ";
}

.fileupload {
    /* make space for border to stop jumps */
    border: 1px solid transparent;
    padding: 0.5em;
}

.fileupload.hover, .fileupload.hover.in {
    background: rgba(255, 255, 0, 0.4);
    cursor: copy;
    border: 1px solid grey;
}

.fileupload.in {
    background: rgba(128, 128, 255, 0.4);
    border: 1px solid grey;
}


.progress {
    line-height: 2em;
    padding-left: 0.2em;
}

.hiddenFromUser {
    display: none;
}

/*tr.template-download:nth-child(odd), tr.template-upload:nth-child(odd) {*/
tr.template-download, tr.template-upload {
    /*background: #f8f8f8;*/
    border-bottom: 1px solid #eee;
}

tr.template-download:nth-child(odd), tr.template-upload:nth-child(odd) {
    background: #f8f8ff;
}


.topRight {
    float: right;
}

.topRight span {
    display: inline-block;
}

textarea.formPart.ui-state-default, input[type='text'] {
    color: #222;
    width: 100%;
    overflow-x: hidden;
}

input:required:invalid {
    background: #fee;
    border: 1px solid red;
}

textarea[rows="1"] {
    line-height: 1.8em;
    height: 1.8em;
    overflow-y: hidden;
} 

.ms-choice > span, input[type='number'] {
    color: #222;
    font-weight: bold;
}

input[type='number'], input[type='text'] {
    height: 1.75em;
}

/* Move placeholder and entered text away from sitting hard against input box border */
.uploadTemplate input[type='text'] {
    text-indent: 0.25em;
}


:-ms-input-placeholder {
   color: #ccc !important;
}

.ui-dialog {
    -webkit-box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.5);
    box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.5);
    border: 1px solid #444;
    -webkit-user-select: all;  /* Chrome all / Safari all */
    -moz-user-select: all;     /* Firefox all */
    -ms-user-select: all;      /* IE 10+ */
    user-select: all;          /* Likely future */  
}

.ui-dialog P:last-child {
    text-align: center;
}

.ui-dialog .reportError {
    font-size: 0.75em;
}

.ui-dialog .reportError A {
    color: blue;
}

.ui-spinner {
    vertical-align: baseline;
    width: 5em;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

.xlinkerMassNote {
    font-size: 0.75em;
    color: #88f;
}

.xlinkerMassHead {
    color: #bbb;
}

.progressLabel {
    position: absolute;
    width: 50%;
    margin-top: 0.5em;
    transform: translate(50%, 0%);
}

.maxFile {
    text-transform: uppercase;
}

#startProcessing {
    margin-top: 0.25em;
    text-transform: uppercase;
}

label.privacyLabel {
    line-height: 1.5em;
    color: #222;
}

label.privacyLabel:before {
    content: 'Set Upload as Private';
}

/* label that behaves like a paragraph */
label.plike {
    display: block;
}

#username {
    text-transform: capitalize;
}

.beAware {
	background: #ffa;
	margin-left: 0.3em;
	border: 1px dashed orange;
	color: #444;
}

.horizontalFlex {
	display: flex;
	flex-direction: row;
}

.flexExpand {
	flex-grow: 1;
	flex-shrink: 1;
}

.flexRigid {
	flex-grow: 0;
	flex-shrink: 0;
}

.newButton {
	margin-left: 0.5em;
	/*display: none;*/	/* hide for now */
}


.ui-dialog-content label input {
	margin-left: 0.5em;
}

.ui-dialog-content table label {
	white-space: nowrap;
}

.ui-dialog-content table input {
	line-height: 1.2em;
	height: 1.2em;
	vertical-align: middle;
}

.ui-dialog-content table input:disabled {
	color: #aaa;
}

.ui-dialog-content table tr:nth-child(2n) {
	background: #f8f8f8;
}

.ui-dialog-content table tr.aaSelected {
	background: #cfc;
}

div.aminoAcids, div.givens {
	padding-top: 0.5em;
	display: flex;
	align-items: flex-start;
}

div.symmetry, div.mods {
	border: 2px solid #ddd;
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
}

div.aminoAcids > div.symmetry {
	margin-right: 0.5em;
}

div.aminoAcids > div.symmetry ~ div.symmetry {
	margin-right: 0;
}

div.givens > label:first-of-type {
	margin-right: 0.5em;
}

input.crosslinkerName {
	width: 15em;
}

input.crosslinkerMass {
	font-weight: normal;
}

.ui-dialog-content input:invalid {
	background: pink;
}
