<!DOCTYPE html>
<html lang="en">
     <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <link rel="stylesheet" href="vendor/css/jquery-ui.css" />
        <!-- <link rel="stylesheet" href="vendor/css/datatables.css" /> -->
        <link rel="stylesheet" href="vendor/css/dataTables.jqueryui.css" />
        <link rel="stylesheet" href="vendor/css/jquery.fileupload.css" />
        <link rel="stylesheet" href="vendor/css/jquery.fileupload-ui.css" />
        <link rel="stylesheet" href="vendor/css/multiple-select.css" />
        <link rel="stylesheet" href="css/submitSearch.css" />
        <link rel="stylesheet" href="../searches/css/style.css" />
         
        <script src="vendor/js/jquery-2.2.0.js"></script>
        <script src="vendor/js/jquery-ui.js"></script>
        <script src="vendor/js/d3.js"></script>
        <script src="vendor/js/jquery.dataTables.js"></script>
        <!-- <script src="vendor/js/dataTables.jqueryui.js"></script> -->
        <script src="vendor/js/multiple-select.js"></script>

        <!--TODO - sort out these scripts-->
        <!-- The Templates plugin is included to render the upload/download listings -->
        <script src="vendor/js/tmpl.js"></script>
        <!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
        <!-- <script src="http://blueimp.github.io/cdn/js2/bootstrap.min.js"></script>-->
        <!-- blueimp Gallery script -->
        <!--<script src="http://blueimp.github.io/Gallery/js2/blueimp-gallery.min.js"></script> -->
        <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
        <script src="vendor/js/jquery.iframe-transport.js"></script>
        <!-- The basic File Upload plugin -->
        <script src="vendor/js/jquery.fileupload.js"></script>
        <!-- The File Upload processing plugin -->
        <script src="vendor/js/jquery.fileupload-process.js"></script>
        <!-- The File Upload validation plugin -->
        <script src="vendor/js/jquery.fileupload-validate.js"></script>
        <!-- The File Upload user interface plugin -->
        <script src="vendor/js/jquery.fileupload-ui.js"></script>
         
        <script src="vendor/js/jquery.fileupload-jquery-ui.js"></script>
        <!-- The main application script -->
        <script src="vendor/js/main.js"></script>

     </head>
     <body>
         <script id="template-acqseq-section" type="text/x-tmpl">
            <h3>{%=o.singleLabel%}</h3>
            <span id="{%=o.partialId%}Selected"></span>

            <div id="{%=o.partialId%}Accordion">
                <h3>Upload {%=o.pluralLabel%}</h3>

                <div id="{%=o.partialId%}Upload">
                    <!-- The file upload form used as target for the file upload widget -->
                    <form class="fileupload" id="{%=o.partialId%}fileupload" action="./vendor/server/php/CLMSUpload.php" method="POST" enctype="multipart/form-data">
                        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                        <div class="row fileupload-buttonbar">
                            <div class="fileupload-buttons">
                                <input type="text" value="" id="new{%=o.partialId%}ID" name="new{%=o.partialId%}ID" placeholder="Set {%=o.singleLabel%} name here..."></input>
                                <!-- The fileinput-button span is used to style the file input field as button -->
                                <span class="fileinput-button">
                                    <span>Add files...</span>
                                    <input type="file" name="files[]" multiple>
                                </span>
                                <button type="submit" class="start">Start upload</button>
                                <button type="reset" class="cancel">Cancel upload</button>
                                <!-- <button type="button" class="delete">Delete</button> -->
                                <!-- <input type="checkbox" class="toggle"> -->
                                <!-- The global file processing state -->
                                <span class="fileupload-process"></span>
                            </div>
                            <!-- The global progress state -->
                            <div class="fileupload-progress fade" style="display:none">
                                <!-- The global progress bar -->
                                <div class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                                <!-- The extended global progress state -->
                                <div class="progress-extended">&nbsp;</div>
                            </div>
                        </div>
                        <!-- The table listing the files available for upload/download -->
                        <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
                    </form>
                </div>

                <h3>Use Previous {%=o.pluralLabel%}</h3>
                <div id="{%=o.partialId%}Previous"></div>
            </div>
        </script>
         
        <div>
            <div class="paramSetting" id="acquire"></div>
            <div class="paramSetting" id="sequence"></div>

            <form id="parameterForm" name="login_form" method="post" action="php/submitParams.php">
            <div>
                <h3>Search Parameters</h3>

                <div class="row">
                    <div class="col-6 paramSetting" id="paramCrossLinker"></div>
                    <div class="col-6 paramSetting" id="paramEnzyme"></div>
                </div>

                <div class="row">
                    <div class="col-4 paramSetting" id="paramTolerance"></div>
                    <div class="col-4 paramSetting" id="paramTolerance2"></div>
                    <div class="col-4 paramSetting" id="paramMissedCleavages"></div>
                </div>

                <div class="row"> 
                    <div class="col-6 paramSetting" id="paramFixedMods"></div>
                    <div class="col-6 paramSetting" id="paramVarMods"></div>
                </div>

                <div class="row">
                    <div class="col-6 paramSetting" id="paramIons"></div>
                    <div class="col-6 paramSetting" id="paramLosses"></div>
                </div>


            </div> <!-- SEARCH PARAMS GROUP -->
            <div class="row">
                <div class="col-2">
                    <button type="submit" id="startProcessing">Start Processing</button>
                    <!-- SUCCESSFUL UPLOAD ICON-->
                    <!--    <div class="control-group success">
                        <i class="input-icon fui-check-inverted"></i>
                    </div>  CONTROL GROUP SUCCESS-->
                </div>
                <div class="col-4" id="todo">
                </div>
                <div class="col-6 paramSetting">
                    <P>Search Notes</P>
                    <textarea class="formPart" wrap="soft" maxlength="10000" cols="50" rows="4" name="paramNotes" value="" placeholder="Click here to start typing..."></textarea>
                </div>
            </div>
            </form>
        </div> <!-- MAIN BODY -->

        <script>
            function canDoImmediately () {
                
                // Make acquisition and sequence divs via shared template
                var acqSeqTemplateData = [
                    {id: "#sequence", fields: {"singleLabel":"Sequence", "pluralLabel":"Sequences", "partialId":"seq",}},
                    {id: "#acquire", fields: {"singleLabel":"Acquisition", "pluralLabel":"Acquisitions", "partialId":"acq",}},
                ];
                acqSeqTemplateData.forEach (function (datum) {
                    d3.select(datum.id).html (tmpl("template-acqseq-section", datum.fields));
                });

                
                // Make number inputs
                var numberInputSettings = [
                    {domid: "#paramTolerance", niceLabel: "Ms Tolerance", min: 0, default: 4,},
                    {domid: "#paramTolerance2", niceLabel: "Ms2 Tolerance", min: 0, default: 20,},
                    {domid: "#paramMissedCleavages", niceLabel: "Missed cleavages", min: 0, default: 4,},
                ];
                numberInputSettings.forEach (function (settings) {
                    var elem = d3.select(settings.domid);
                    elem.append("p").text(settings.niceLabel);
                    var iid = settings.domid.slice(1)+"Value";
                    var inputElem = elem.append("input")
                        .attr("name", iid)
                        .attr("id", iid)
                        .classed("formPart", true)
                    ;

                    var spinner = $("#"+iid).spinner({
                        min: settings.min,
                        max: settings.max,
                        value: settings.default,
                    });

                    $("#"+iid).spinner("value", settings.default);

                    elem.selectAll(".ui-spinner")
                        .style("vertical-align", "baseline")    // baseline is different to selectmenu, causing vertical offset
                        .style("width", "5em")
                    ;
                });
                
                
                // Make unit drop-downs
                var unitSettings = [
                    {domid: "#paramTolerance", units: ["ppm", "Da"], default: "ppm",},
                    {domid: "#paramTolerance2", units: ["ppm", "Da"], default: "ppm",},
                ];
                unitSettings.forEach (function (settings) {
                    var elem = d3.select(settings.domid);
                    var baseId = settings.domid.slice(1)+"Units";
                    var selElem = elem.append("select")
                        .attr("name", baseId)
                        .attr("id", baseId)
                        .classed("formPart", true)
                    ;
                    var optionJoin = selElem.selectAll("option").data(settings.units);
                    optionJoin.enter()
                        .append("option")
                        .text (function(d) { return d; })
                        .property ("selected", function(d) { return d === settings.default; })
                    ;

                    $("#"+baseId).selectmenu();

                    elem.selectAll(".ui-selectmenu-button").style("width", null);   // calculated width in selectmenu is dodgy, kill it
                });
                    
                
                // Make accordions
                var accordions = ["#acqAccordion", "#seqAccordion"];
                accordions.forEach (function (accordion) {
                    $(accordion).accordion ({
                        collapsible: true,
                        active: false,
                        heightStyle: "content",
                    });
                });
                
                
                // Make buttons
                $("#startProcessing").button();       
            };
            
            $(document).ready(function () {
                
                // http://stackoverflow.com/questions/23740548/how-to-pass-variables-and-data-from-php-to-javascript
                var oReq = new XMLHttpRequest(); //New request object
                oReq.onload = function() {
                    //This is where you handle what to do with the response.
                    //The actual data is found on this.responseText
                    var result = this.responseText;
                    var data = JSON.parse (result);
                    console.log ("data", data);
                    
                    var dispatchObj = d3.dispatch("inputChanged");
                    
                    // Make combobox and multiple selection elements
                    // Multiple Select uses Jquery-plugin from https://github.com/wenzhixin/multiple-select
                    // Multiple Selects need [] appended to name attr, see http://stackoverflow.com/questions/11616659/post-values-from-a-multiple-select
                    var populateOptionLists = [
                        {data: data.xlinkers, domid: "#paramCrossLinker", niceLabel: "Cross-Linker", filter: true, required: true, multiple: false, placeHolder: "Select A Cross Linker",},
                        {data: data.enzymes, domid: "#paramEnzyme", niceLabel: "Enzyme", filter: true, required: true, multiple: false, placeHolder: "Select An Enzyme",},
                        {data: data.modifications, domid: "#paramFixedMods", niceLabel: "Fixed Mods", required: true, multiple: true, filter: true, placeHolder: "Select Modifications",},
                        {data: data.modifications, domid: "#paramVarMods", niceLabel: "Var Mods", required: true, multiple: true, filter: true, placeHolder: "Select Modifications",},
                        {data: data.ions, domid: "#paramIons", niceLabel: "Ions", required: true, multiple: true, filter: false, placeHolder: "Select At Least One Ion",},
                        {data: data.losses, domid: "#paramLosses", niceLabel: "Losses", required: true, multiple: true, filter: false, placeHolder: "Select At Least One Loss",},
                    ];
                    populateOptionLists.forEach (function (poplist) {
                        var elem = d3.select(poplist.domid);
                        elem.append("p").text(poplist.niceLabel);
                        var baseId = poplist.domid.slice(1)+"Select";
                        var selElem = elem.append("select")
                            .attr("id", baseId)
                            .attr("name", baseId + (poplist.multiple ? "[]" : ""))  // magic. Need [] at end of name of elements that can submit multiple values
                            .attr("data-label", poplist.niceLabel)    
                            .classed("formPart", true)
                            .property("multiple", poplist.multiple)
                            .property("required", poplist.required)
                        ;
                        
                        var dataJoin = selElem.selectAll("option")
                            .data(poplist.data, function(d) { return d.id; })
                        ;

                        dataJoin.enter().append("option")
                            .attr("value", function(d) { return d.id; })
                            .text(function(d) { return d.name; })
                        ;

                        //if (poplist.multiple) {
                            $("#"+baseId).multipleSelect({ 
                                single: !poplist.multiple,
                                filter: poplist.filter, 
                                placeholder: poplist.placeHolder,
                                multiple: true, // this is to show multiple options per row, not to do with multiple selections (that's single)
                                width: 450,
                                multipleWidth: 200,
                                onClick: function (view) {
                                    dispatchObj.inputChanged();   
                                },
                            });
                            elem.selectAll(".ms-choice")
                                .classed("ui-widget", true)
                                .classed("ui-state-default", true)
                            ;
                        /*
                        } else {
                            $("#"+baseId).combobox();
                        }
                        */
                    });
                    
                    
                    
                    // Make previous tables
                    var previousSettings = [
                        {domid: "#acqPrevious", data: data.previousAcqui, niceLabel: "Acquisitions", required: true, selectSummaryid: "#acqSelected",},
                        {domid: "#seqPrevious", data: data.previousSeq, niceLabel: "Sequences", required: true, selectSummaryid: "#seqSelected",},
                    ];
                    previousSettings.forEach (function (psetting) {
                        var sel = d3.select (psetting.domid);
                        var baseId = psetting.domid.slice(1)+"Table";
                        sel.html ("<TABLE><THEAD><TR></TR></THEAD><TBODY></TBODY></TABLE>");
                        sel.select("table").attr("id", baseId);
                        var hrow = sel.select("tr");
                        var headers = d3.keys(psetting.data[0]);
                        headers.push("selected");
                        hrow.selectAll("th").data(headers).enter().append("th").text(function(d) { return d; });

                        var tbody = sel.select("tbody");
                        var rowJoin = tbody.selectAll("tr").data(psetting.data, function(d) { return d.name; });
                        var newRows = rowJoin.enter().append("tr");

                        var cellJoin = newRows.selectAll("td").data (function(d) { return d3.values(d); });
                        cellJoin.enter().append("td").text(function(d) { return d; })

                        newRows.append ("td").append("input")
                            .attr ("type", "checkbox")
                            //.attr ("id", function(d) { return d.name; })
                        ;

                        var table = $("#"+baseId).dataTable ({
                            "paging": true,
                            "jQueryUI": true,
                            "ordering": true,
                        });
                        
                        // this stuffs a hidden input field in the main parameter search form
                        d3.select("#parameterForm").append("input")
                            .attr ("class", "formPart")
                            .attr ("type", "hidden")
                            .attr ("name", baseId+"[]") // add [] because value can/will be an array
                            .attr ("id", baseId+"Hidden")
                            .attr ("data-label", psetting.niceLabel)   
                            .attr ("value", "")
                            .property ("required", psetting.required)
                        ;
                        
                        // on a selection in the table, we then smuggle the current selection set of ids into the hidden form
                        // where they can be picked up on the paramter form submit
                        newRows.selectAll("input[type=checkbox]")
                            .on ("click", function() {
                                var curSel = sel.select("table").selectAll("input:checked");
                                var ids = curSel.data().map (function(d) { return d.id; });
                                d3.select("#"+baseId+"Hidden").attr("value", ids);
                            
                                var names = curSel.data().map (function(d) { return d.name; });
                                d3.select(psetting.selectSummaryid).text (names.length ? "Selected "+names.join(", ") : null);
                                dispatchObj.inputChanged();
                            })
                        ;   
                        
                    });
  

                    
                    // Make checkbox/radio choice controls
                    var buttonGroups = [
                        //{domid: "#paramIons", choices: data.ions, type: "radio", nameFunc: function(d) { return d.name; },},
                        //{domid: "#paramLosses", choices: data.losses, type: "radio", nameFunc: function(d) { return d.name; },},
                    ];
                    buttonGroups.forEach (function (buttonGroup) {
                        var elem = d3.select (buttonGroup.domid);
                        var baseId = buttonGroup.domid.slice(1)+"Choice";
                        var choiceJoin = elem.selectAll("input").data(buttonGroup.choices);
                        choiceJoin.enter()
                            .append ("label")
                            .attr ("for", function(d,i) { return baseId+i; })
                            .text (buttonGroup.nameFunc)
                        ;
                        choiceJoin.enter()
                            .append("input")
                            .attr ("type", buttonGroup.type)
                            .attr ("id", function(d,i) { return baseId+i; })
                            .attr ("name", buttonGroup.type === "radio" ? baseId : null)
                        ;
                        
                        $(buttonGroup.domid).buttonset();
                    });
                    
                    
                    
                    // Sections to control availability of main submit button and explain why disabled if so
                    d3.select("#todo").selectAll("span").data(["ui-icon","notice"])
                        .enter()
                        .append("span")
                        .attr ("class", function(d) { return d; })
                    ;
                    
                    dispatchObj.on ("inputChanged", function () {
                        var todoList = d3.set();
                        d3.select("#parameterForm").selectAll(".formPart[required]").each (function() {
                            if (this.id && !this.value) {
                                todoList.add (d3.select(this).attr("data-label") || d3.select(this).attr("name"));
                            }
                        });
                        $("#startProcessing").button("option", "disabled", !todoList.empty());
                        d3.select("#todo")
                            .classed ("paramSubmitReady", todoList.empty())
                        ;
                        d3.select("#todo")
                            .selectAll("span.ui-icon")
                            .classed ("ui-icon-notice", !todoList.empty())
                            .classed ("ui-icon-check", todoList.empty())
                        ;
                        d3.select("#todo")
                            .selectAll("span.notice")
                            .html(function(d) { return todoList.empty() ? "Ready to Process" : "Values are required for:<br>"+todoList.values(); } )
                        ;
                        
                    });
                    dispatchObj.inputChanged();

                    
                    
                    // AJAX form submission
                    // PITA have to reconstruct form data from all fields (marked them with .formPart class to make it easier)
                    $("#parameterForm").submit(function (event) {
                        event.preventDefault();
                        
                        var formData = {};
                        d3.select("#parameterForm").selectAll(".formPart").each (function() {
                            if (this.id) {
                                var val = this.value;
                                // If one of the multiple select widgets, must get multiple values like this
                                if (this.type === "select-multiple") {
                                    val = $("#"+this.id).multipleSelect("getSelects");
                                }
                                formData[this.name] = val;
                            }
                        });
                        console.log ("formData", formData);
                        
                        $.ajax ({
                            type: "POST",
                            url: "php/submitParams.php",
                            data: formData,
                            dataType: "json",
                            encode: true,
                        })
                        .done (function (data) {
                            console.log ("params submitted");
                        })
                    });
                    
                    // initialize blueimp file uploader bits
                    $(submitter.upload);
                    
                    // Function to control 
                    var enableSubmit = function (textinputid, formid, type) {
                        var nonzeroes = {filesAwaiting: 0, namelength: 0,};
                        var enabler = function () {
                            var vals = d3.values (nonzeroes);
                            var blocked = vals.some (function(d) { return d === 0; });
                            var buttons = $(formid+" button");
                            console.log (formid, vals, blocked, buttons);
                            buttons.button ("option", "disabled", blocked);
                        };
                        this.enabler = enabler;
                        var success = true;
                        var lastFileUploaded;
                        
                        $(formid).on({
                            "fileuploadstart": function (e, data) {
                                console.log ("started", e, data);
                                success = true;
                            },
                            "fileuploadadded": function (e, data) {
                                nonzeroes.filesAwaiting = d3.select(formid).selectAll("tr").size(); // data.files.length;
                                enabler();
                            },
                            "fileuploadfailed": function (e, data) {                         
                                console.log ("failed", data);
                                //console.log ("failed", data.jqXHR.responseText);
                                if (data.errorThrown === "abort") {
                                    nonzeroes.filesAwaiting = d3.select(formid).selectAll("tr").size(); // data.files.length;
                                    enabler();
                                }
                                success = false;
                            },
                            "fileuploaddone": function (e, data) {
                                console.log ("done", e, data);
                                lastFileUploaded = data.files[0].name;
                            },
                            "fileuploadstopped": function (e, data) {
                                console.log ("stopped", e, data, success);
                                if (success) {
                                    var formData = {
                                        name: d3.select(textinputid).property("value"),
                                        filename: lastFileUploaded,
                                        type: type,
                                    };
                                    $.ajax ({
                                        type: "POST",
                                        url: "php/submitSeqAcq.php",
                                        data: formData,
                                        dataType: "json",
                                        encode: true,
                                    })
                                }
                            },
                        });
                        d3.select(textinputid).on("input", function () {
                            nonzeroes.namelength = this.value.length;
                            enabler();
                        });
                        
                        return this;
                    };
                    
                    var seqEnableSubmit = new enableSubmit ("#newseqID", "#seqfileupload", "seq");
                    var acqEnableSubmit = new enableSubmit ("#newacqID", "#acqfileupload", "acq");
                    [seqEnableSubmit, acqEnableSubmit].forEach (function(sub) { sub.enabler(); });
                };
                
                oReq.open("get", "php/populate.php", true);     // true == asynchronous call
                oReq.send();
            });
            
            canDoImmediately();
        </script>

    </body>

    <!-- The template to display files available for upload -->
    <script id="template-upload" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-upload fade">
            <td>
                <p class="name">{%=file.name%}</p>
                {% if (file.error) { %}
                <div><span class="label label-important">Error</span> {%=file.error%}</div>
                {% } %}
            </td>
            <td>
                <!-- <p class="size">{%=o.formatFileSize(file.size)%}</p> -->
                {% if (!o.files.error) { %}
                <div class="progress progress-success progress-striped active size" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
                {% } %}
            </td>
            <td>
                {% if (!o.files.error && !i && !o.options.autoUpload) { %}
                <button class="btn-primary start">
                    <span>Start</span>
                </button>
                {% } %}
                {% if (!i) { %}
                <button class="btn-warning cancel">
                    <span>Cancel</span>
                </button>
                {% } %}
            </td>
        </tr>
        {% } %}
    </script>
    <!-- The template to display files available for download -->
    <script id="template-download" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-download fade">
            <td>
                <p class="name">
                    <a href="{%=file.url%}" title="{%=file.name%}" class="{%=file.thumbnail_url?'gallery':''%}" download="{%=file.name%}">{%=file.name%}</a>
                </p>
                {% if (file.error) { %}
                <div><span class="label label-important">Error</span> {%=file.error%}</div>
                {% } %}
            </td>
            <td>
                <span class="size">{%=o.formatFileSize(file.size)%}</span>
            </td>
            <!--
            <td>
                <button class="btn-danger delete" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}"{% if (file.delete_with_credentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <span>Delete</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
            </td>
            -->
        </tr>
        {% } %}
    </script>
</html>