<!DOCTYPE html>
<html lang="en">
     <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		      <meta http-equiv="content-type" content="text/html; charset=utf-8" />

		      <link rel="stylesheet" href="js2/jquery-ui-1.11.4/jquery-ui.css" />
        <link rel="stylesheet" href="css/jquiext.css" />
        <link rel="stylesheet" href="css/datatables.css" />
        <link rel="stylesheet" href="css/dataTables.jqueryui.css" />
        <link rel="stylesheet" href="css/submitSearch.css" />
        <link rel="stylesheet" href="../searches/css/style.css" />
         
        <script src="js2/jquery-2.2.0.js"></script>
        <script src="js2/jquery-ui-1.11.4/jquery-ui.js"></script>
        <script src="js2/d3.js"></script>
        <script src="js2/jquiext.js"></script>
        <script src="js2/jquery.dataTables.js"></script>
         
        <script src="js2/dataTables.jqueryui.js"></script>

         
         
        <!--TODO - sort out these scripts-->
        <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
        <!-- <script src="./js2/uploadjs/vendor/jquery.ui.widget.js"></script> -->
        <!-- The Templates plugin is included to render the upload/download listings -->
        <!--<script src="http://blueimp.github.io/JavaScript-Templates/js2/tmpl.min.js"></script> -->
        <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
        <!--<script src="http://blueimp.github.io/JavaScript-Load-Image/js2/load-image.min.js"></script> -->
        <!-- The Canvas to Blob plugin is included for image resizing functionality -->
        <!--<script src="http://blueimp.github.io/JavaScript-Canvas-to-Blob/js2/canvas-to-blob.min.js"></script> -->
        <!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
        <!-- <script src="http://blueimp.github.io/cdn/js2/bootstrap.min.js"></script>-->
        <!-- blueimp Gallery script -->
        <!--<script src="http://blueimp.github.io/Gallery/js2/blueimp-gallery.min.js"></script> -->
        <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
        <script src="js2/uploadjs/jquery.iframe-transport.js"></script>
        <!-- The basic File Upload plugin -->
        <script src="js2/uploadjs/jquery.fileupload.js"></script>
        <!-- The File Upload processing plugin -->
        <script src="js2/uploadjs/jquery.fileupload-process.js"></script>
        <!-- The File Upload image preview & resize plugin -->
        <script src="js2/uploadjs/jquery.fileupload-image.js"></script>
        <!-- The File Upload audio preview plugin -->
        <script src="js2/uploadjs/jquery.fileupload-audio.js"></script>
        <!-- The File Upload video preview plugin -->
        <script src="js2/uploadjs/jquery.fileupload-video.js"></script>
        <!-- The File Upload validation plugin -->
        <script src="js2/uploadjs/jquery.fileupload-validate.js"></script>
        <!-- The File Upload user interface plugin -->
        <script src="js2/uploadjs/jquery.fileupload-ui.js"></script>
        <!-- The main application script -->
        <script src="js2/uploadjs/main.js"></script>

        <!--
        <script src="js2/jquery.ui.touch-punch.min.js"></script>
        <script src="js2/jquery.tagsinput.js"></script>
        <script src="js2/jquery.placeholder.js"></script>
        <script src="js2/jquery.stacktable.js"></script>
        <script src="http://vjs.zencdn.net/c/video.js"></script>
        <script src="js2/application.js"></script> 
        -->
     </head>
     <body>
        <div class="page-container">
    
            <div class="main-body">
                <div class="acquisitions-group">
                    <h3>Acquisition</h3>
                    <div class="left-column">
                        <div class="upload-button">
                            <a onClick="$('.acquisitions-group').hide();$('.acquisitions-upload').show();" class="btn btn-large btn-block btn-inverse">Upload</a>
                        </div> <!-- UPLOAD BUTTON -->
                    </div> <!-- LEFT COLUMN -->
                    <p class="ortext">Or</p>
                    <div class="right-column">
                        <div class="browse-button">
                            <a onClick="$('.acquisitions-group').hide();$('.acquisitions-previous').show();" class="btn btn-large btn-block btn-inverse">Browse previous</a>
                        </div> <!-- BROWSE BUTTON -->
                    </div> <!-- RIGHT COLUMN -->
                </div> <!-- ACQUISITIONS GROUP -->

                <div class="acquisitions-upload" style="display:none;">
                    <h3>Acquisition Upload</h3>
                    <br/>
                    <input class="acquis-name" type="text" value="" placeholder="Type acquisition name here" /></input>
                    <!-- The file upload form used as target for the file upload widget -->
                    <form class="fileupload" action="./upload/uploadIndex.php" method="POST" enctype="multipart/form-data">
                        <!-- Redirect browsers with JavaScript disabled to the origin page -->
                <!--        <noscript><input type="hidden" name="redirect" value="http://blueimp.github.io/jQuery-File-Upload/"></noscript>-->
                        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                        <div class="row fileupload-buttonbar">
                            <div class="span7">
                                <!-- The fileinput-button span is used to style the file input field as button -->
                                <span class="btn btn-success fileinput-button">
                                    <i class="icon-plus icon-white"></i>
                                    <span>Add files...</span>
                                    <input type="file" name="files[]" multiple>
                                </span>
                                <button type="submit" class="btn btn-primary start">
                                    <i class="icon-upload icon-white"></i>
                                    <span>Start upload</span>
                                </button>
                                <button type="reset" class="btn btn-warning cancel">
                                    <i class="icon-ban-circle icon-white"></i>
                                    <span>Cancel upload</span>
                                </button>
                                <button type="button" class="btn btn-danger delete">
                                    <i class="icon-trash icon-white"></i>
                                    <span>Delete</span>
                                </button>
                                <input type="checkbox" class="toggle">
                                <!-- The loading indicator is shown during file processing -->
                                <span class="fileupload-loading"></span>
                            </div>
                            <!-- The global progress information -->
                            <div class="span5 fileupload-progress fade">
                                <!-- The global progress bar -->
                                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                    <div class="bar" style="width:0%;"></div>
                                </div>
                                <!-- The extended global progress information -->
                                <div class="progress-extended">&nbsp;</div>
                            </div>
                        </div>
                        <!-- The table listing the files available for upload/download -->
                        <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
                    </form>
                </div>

                <div class="acquisitions-previous" style="display:none;">
                    <h3>Previous Acquisitions</h3>
                    <div id="previousAcqui"></div>
                    <!-- insert data here -->

                    <script>
                        /* 
     
                        */
                    </script>
                </div>


                <div class="sequence-db-group">
                    <h3>Sequence Database</h3>
                    <div class="left-column">
                        <div class="upload-button">
                            <a  onClick="$('.sequence-db-group').hide();$('.sequence-db-upload').show();" href="#sequenceupload" class="btn btn-large btn-block btn-inverse">Upload</a>
                        </div> <!-- UPLOAD BUTTON -->
                    </div> <!-- LEFT COLUMN -->
                    <p class="ortext">Or</p>
                    <div class="right-column">
                        <div class="browse-button">
                            <a onClick="$('.sequence-db-group').hide();$('.sequence-db-previous').show();" class="btn btn-large btn-block btn-inverse">Browse previous</a>
                        </div> <!-- BROWSE BUTTON -->
                    </div> <!-- RIGHT COLUMN -->
                </div> <!-- SEQUENCE DB GROUP -->

                <div class="sequence-db-upload" style="display:none;">
                    <h3>Sequence Database Upload</h3>
                    <br/>
                    <input class="sequence-db-name" type="text" value="" placeholder="Type sequence db name here..." /></input>
                    <!-- The file upload form used as target for the file upload widget -->
                    <form class="fileupload" action="upload/uploadIndex.php" method="POST" enctype="multipart/form-data">
                        <!-- Redirect browsers with JavaScript disabled to the origin page -->
                <!--        <noscript><input type="hidden" name="redirect" value="http://blueimp.github.io/jQuery-File-Upload/"></noscript>-->
                        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                        <div class="row fileupload-buttonbar">
                            <div class="span7">
                                <!-- The fileinput-button span is used to style the file input field as button -->
                                <span class="btn btn-success fileinput-button">
                                    <i class="icon-plus icon-white"></i>
                                    <span>Add files...</span>
                                    <input type="file" name="files[]" multiple>
                                </span>
                                <button type="submit" class="btn btn-primary start">
                                    <i class="icon-upload icon-white"></i>
                                    <span>Start upload</span>
                                </button>
                                <button type="reset" class="btn btn-warning cancel">
                                    <i class="icon-ban-circle icon-white"></i>
                                    <span>Cancel upload</span>
                                </button>
                                <button type="button" class="btn btn-danger delete">
                                    <i class="icon-trash icon-white"></i>
                                    <span>Delete</span>
                                </button>
                                <input type="checkbox" class="toggle">
                                <!-- The loading indicator is shown during file processing -->
                                <span class="fileupload-loading"></span>
                            </div>
                            <!-- The global progress information -->
                            <div class="span5 fileupload-progress fade">
                                <!-- The global progress bar -->
                                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                    <div class="bar" style="width:0%;"></div>
                                </div>
                                <!-- The extended global progress information -->
                                <div class="progress-extended">&nbsp;</div>
                            </div>
                        </div>
                        <!-- The table listing the files available for upload/download -->
                        <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
                    </form>
                </div>

                <div class="sequence-db-previous" style="display:none;">
                    <h3>Previous Sequences</h3>
                    <br/>
                    <!-- insert data here -->
                    <script>
                        //                $(document).ready(function() {
                        /*
                        $('#previousSeqDb').dataTable( {
                            "bPaginate": true,
                            "bLengthChange": false,
                            "bFilter": true,
                            "bSort": false,
                            "bInfo": true,
                            "bAutoWidth": true
                        } );
                        */
                        //} );
                    </script>
                </div>

                <!--                <form   name="login_form" method="post" action="searchParameters.php">-->
                <div class="search-params-group bgroup">

                    <h3>Search Parameters</h3>
                    
                    <div width="50%">
                        <div class="paramSetting" id="paramTolerance">
                            <P>Ms Tolerance</P>
                        </div>
                        <div class="paramSetting" id="paramTolerance2">
                            <P>Ms2 Tolerance</P>
                        </div>
                        <div class="paramSetting" id="paramMissedCleavages">
                            <P>Missed cleavages</P>
                        </div>
                    </div>
                    <div width="50%">
                        <div class="paramSetting">
                            <P>Cross-Linker</P>
                            <select name="herolist" id="xlinkerCombobox"></select>
                        </div>
                        <div class="paramSetting">
                            <P>Enzyme</P>
                            <select name="herolist" id="enzymeCombobox"></select>
                        </div>
                    </div>
                    <div>
                        
                        <div class="mods-line">
                            <h5>FIXED MODS</h5>
                            <div size="4" class="fixed-mods">
                                <label class="checkbox" for="checkbox1">
                                    <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
                                    Oxidation (M)
                                </label>
                                <label class="checkbox" for="checkbox1">
                                    <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
                                    Carbamidomethylation
                                </label>
                                <label class="checkbox" for="checkbox1">
                                    <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
                                    Arg 6
                                </label>
                            </div> <!-- FIXED MODS -->
                        </div> <!-- MODS LINE -->
                    </div> <!-- LEFT COLUMN -->
                    <div class="right-column">
                        
                        <div class="crosslinker-enzyme-line">
                            
                        </div>  <!-- CROSSLINKER-ENZYME-LINE -->
                        <div class="cleavage-losses-line">
                            <h5 class="losses-title">LOSSES</h5>
                            <div class="switch" data-on-label="On" data-off-label="Off" style="margin-top:15px;">
                                <input type="checkbox"/>
                            </div>
                        </div> <!-- CLEAVAGE LOSSES LINE -->
                        <div class="mods-line">
                            <h5 class="varmods-title">VAR MODS</h5>
                            <div class="var-mods">
                                <label class="checkbox" for="checkbox1">
                                    <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
                                    Oxidation (M)
                                </label>
                                <label class="checkbox" for="checkbox1">
                                    <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
                                    Carbamidomethylation
                                </label>
                                <label class="checkbox" for="checkbox1">
                                    <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
                                    Arg 6
                                </label>
                            </div> <!-- VAR MODS -->
                        </div> <!-- MODS LINE -->
                    </div> <!-- RIGHT COLUMN -->
                </div> <!-- SEARCH PARAMS GROUP -->
                <div class="search-notes-group">
                    <h3>Search Notes</h3>
                    <textarea class="search-notes" type="text" value="" placeholder="Click here to start typing..." /></textarea>
                    <!-- SUBMIT BUTTON -->
<!--                        <input id="submitSearch" name="Submit" value="Submit Search" type="submit" class="btn btn-primary btn-large btn-block"/>-->

                    <section class="progress-demo">
                        <button class="ladda-button" onclick="alert('Please do not press this button again.')" data-color="purple" data-style="expand-right"><span class="ladda-label">Start Processing</span></button>
                    </section>
                    <!--                     SUCCESSFUL UPLOAD ICON-->
                    <!--                    <div class="control-group success">
                                            <i class="input-icon fui-check-inverted"></i>
                                        </div>  CONTROL GROUP SUCCESS-->
                </div> <!-- SEARCH NOTES GROUP -->
                <!--                </form>-->
            </div> <!-- MAIN BODY -->
        </div> <!-- PAGE CONTAINER -->

        <script>
            $(document).ready(function () {
                /*
                var top = $('.todo').offset().top - parseFloat($('.todo').css('marginTop').replace(/auto/, 0));
                $(window).scroll(function (event) {
                    // what the y position of the scroll is
                    var y = $(this).scrollTop();

                    // whether that's below the form
                    if (y >= top) {
                        // if so, ad the fixed class
                        $('.todo').addClass('fixed');
                    } else {
                        // otherwise remove it
                        $('.todo').removeClass('fixed');
                    }
                });
                */
            
                // http://stackoverflow.com/questions/23740548/how-to-pass-variables-and-data-from-php-to-javascript
                var oReq = new XMLHttpRequest(); //New request object
                oReq.onload = function() {
                    //This is where you handle what to do with the response.
                    //The actual data is found on this.responseText
                    var result = this.responseText;
                    var data = JSON.parse (result);
                    
                    var populateOptionLists = [
                        {data: data.xlinkers, domid: "#xlinkerCombobox"},
                        {data: data.enzymes, domid: "#enzymeCombobox"},
                    ];
                    
                    populateOptionLists.forEach (function (poplist) {
                        var dataJoin = d3.select(poplist.domid).selectAll("option")
                            .data(poplist.data, function(d) { return d.id; })
                        ;

                        dataJoin.enter().append("option")
                            .attr("value", function(d) { return d.id; })
                            .text(function(d) { return d.name; })
                        ;

                        console.log ("$", $, $(poplist.domid));
                        $(poplist.domid).combobox();
                    });
                    
                    var prevAcqData = data.previousAcqui;
                    var sel = d3.select("#previousAcqui");
                    sel.html ("<TABLE><THEAD><TR></TR></THEAD><TBODY></TBODY></TABLE>");
                    sel.select("table").attr("id", "previousAcqui"+"Table");
                    var hrow = sel.select("tr");
                    var headers = d3.keys(prevAcqData[0]);
                    headers.push("selected");
                    console.log ("headers", headers);
                    hrow.selectAll("th").data(headers).enter().append("th").text(function(d) { return d; });
                    
                    var tbody = sel.select("tbody");
                    var rowJoin = tbody.selectAll("tr").data(prevAcqData, function(d) { return d.name; });
                    var newRows = rowJoin.enter().append("tr");
                    
                    var cellJoin = newRows.selectAll("td").data (function(d) { return d3.values(d); });
                    cellJoin.enter().append("td").text(function(d) { return d; })
                    
                    newRows.append ("td").append("input")
                        .attr ("type", "checkbox")
                        .attr ("id", function(d) { return d.name; })
                    ;
                    
                    $('#previousAcquiTable').dataTable( {
                        "paging": true,
                        "jQueryUI": true,
                        "ordering": true,

                    } );
                    
                    
                    
                    var numberInputSettings = [
                        {domid: "#paramTolerance", min: 0, default: 4,},
                        {domid: "#paramTolerance2", min: 0, default: 20,},
                        {domid: "#paramMissedCleavages", min: 0, default: 4,},
                    ];
                    numberInputSettings.forEach (function (settings) {
                        var elem = d3.select(settings.domid);
                        var iid = settings.domid.slice(1)+"Value";
                        var inputElem = elem.append("input")
                            .attr("name", iid)
                            .attr("id", iid)
                        ;
                        
                        var spinner = $("#"+iid).spinner({
                            min: settings.min,
                            max: settings.max,
                            value: settings.default,
                        });
                        
                        $("#"+iid).spinner("value", settings.default);
                    });
                    
                    
                    
                    var unitSettings = [
                        {domid: "#paramTolerance", units: ["ppm", "Da"], default: "ppm",},
                        {domid: "#paramTolerance2", units: ["ppm", "Da"], default: "ppm",},
                    ];
                    unitSettings.forEach (function (settings) {
                        var elem = d3.select(settings.domid);
                        var selElem = elem.append("select")
                            .attr("name", settings.domid.slice(1)+"Units")
                            .attr("id", settings.domid.slice(1)+"Units")
                        ;
                        var optionJoin = selElem.selectAll("option").data(settings.units);
                        optionJoin.enter()
                            .append("option")
                            .text (function(d) { return d; })
                            .property ("selected", function(d) { return d === settings.default; })
                        ;
                    });
                    

                };
                oReq.open("get", "populate.php", true);     // true == asynchronous call
                oReq.send();

                
            });
        </script>



    </body>

    <!-- The template to display files available for upload -->
    <script id="template-upload" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-upload fade">
            <td>
                <span class="preview"></span>
            </td>
            <td>
                <p class="name">{%=file.name%}</p>
                {% if (file.error) { %}
                <div><span class="label label-important">Error</span> {%=file.error%}</div>
                {% } %}
            </td>
            <td>
                <p class="size">{%=o.formatFileSize(file.size)%}</p>
                {% if (!o.files.error) { %}
                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
                {% } %}
            </td>
            <td>
                {% if (!o.files.error && !i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start">
                    <i class="icon-upload icon-white"></i>
                    <span>Start</span>
                </button>
                {% } %}
                {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="icon-ban-circle icon-white"></i>
                    <span>Cancel</span>
                </button>
                {% } %}
            </td>
        </tr>
        {% } %}
    </script>
    <!-- The template to display files available for download -->
    <script id="template-download" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-download fade">
            <td>
                <span class="preview">
                    {% if (file.thumbnail_url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" class="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
                    {% } %}
                </span>
            </td>
            <td>
                <p class="name">
                    <a href="{%=file.url%}" title="{%=file.name%}" class="{%=file.thumbnail_url?'gallery':''%}" download="{%=file.name%}">{%=file.name%}</a>
                </p>
                {% if (file.error) { %}
                <div><span class="label label-important">Error</span> {%=file.error%}</div>
                {% } %}
            </td>
            <td>
                <span class="size">{%=o.formatFileSize(file.size)%}</span>
            </td>
            <td>
                <button class="btn btn-danger delete" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}"{% if (file.delete_with_credentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                        <i class="icon-trash icon-white"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
            </td>
        </tr>
        {% } %}
    </script>
</html>